<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <title>- Pixabay</title>
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>
  <header class="menu">
    <div class="pixabay" >
        <a href="/"><img src="/images/logop.svg" alt="logo Pixabay"></a>
        </div>
        <div class= "menuesquerda">
        <ul>
      <li><a href="#">Fotos</a></li>
      <li><a href="#">Ilustrações</a></li>
      <li><a href="#">Vectores</a></li>
      <li><a href="#">Videos</a></li>
      <li><a href="#">Música</a></li>
          </ul>
        </div>
        <div class="menudireita">
          <ul>
      <li><a href="#">Explorar &#160;						<span class="dropdown1">
            <img src="/images/icon-explorar.svg" alt="dropdown1">
          </span></a></li>
      <li><a href="login" id="btn_inicio">Efetuar login</a></li>
      <li><a href="cadastro_usuario" id="link2_cadastrar">Join&#160;&#160;&#160;&#160;&#160;&#160;</a></li>
      <li><a href="#"><span class="bt-verde">
        <img src="/images/icon-btverde.svg" alt="bt-verde">&#160;&#160;Carregar
        </span></a></li>
          </ul>
        </div>
          <div class="icon-menu">
        <a href="login" id="icon_drop"> <span class="icon-menu">
        <img src="/images/icon-menu.png" style="margin-top:-5px"alt="icon-menu">
        </span></a>
    </div>
  </header>

<div class="subrot" id="p_busca">
<div class="main">
  <div class="fundo"> </div>
  <div class="textoprincipal"><b>Use o nosso banco de imagens Royalty Free</b></div>
  <div class="bpesquisa">
    <input type="text" class="binput"name="busca" value="" placeholder="Procurar imagens, vetores e videos" style="background-color: unset;">
    <div class="lupa">
    <a><button class="button23"><img src="/images/lupa.svg" alt="lupa" width="120%" ></button></a >
    </div>
    <div class="bimagens"> <a href="#">Imagens
      <span class="dropdown1">
          <img src="/images/icon-explorar.svg" alt="dropdown2">
      </span></a></div>
  </div>
  <div class="rodape"><a href="#">Imagens gratuitas de Kanenori</a></div>
  <div class="popular">
  Popular Images:
    <a href="#">mulher</a>,
    <a href="#">natureza</a>,
    <a href="#">flores</a>,
    <a href="#">praia</a>,
    <a href="#">tecnologia</a>,
    <a href="#">carnaval</a>,
    <a href="#">paisagem</a>,
    <a href="#">background</a>,
    <a href="#">pizza</a>,
    <a href="#">dinheiro</a>,
    <a href="#">pessoas</a>,
    <a href="#">covid</a>
  </div>
    </form>
</div>

<div class="baba">
<div class="ba">
<ul></ul></div></div>
</div>

<div id="mobile" class="mobile_menu_top">
<a class="mostrar_menu" data-w="442" href="#" id="link_logar1">
  Efetuar login
</a>
<a class="mostrar_menu" data-w="442" style="border-left:1px solid #eee" href="#" id="link3_cadastrar">
  Join
</a>
</div>
  </body>

</html>
